@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Don't Mock Me</h2>
<p>An exploration into the world of Mocking and DI alternatives, and fuzzie bunnies...</p>

<a href="../FuzzieBunnies/Index">View them fuzzie bunnies</a>

